<p>
	contact page
<p>

	<table class="table table-striped">
  <tr>
		<th>Name</th>
    <th>Find me on the web!</th>
  </tr>
  <tr>
    <td>Matt Matero</td>
    <td><%= link_to 'Twitter', 'https://twitter.com/MattMatero', :target => '_blank' %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to 'Github', 'http://github.com/MattMatero', :target => '_blank' %></td>
  </tr>
	</table>
