<p>
	contact page
<p>

	<table class="table table-striped">
  <tr>
		<th>Name</th>
    <th>Find me on the web!</th>
  </tr>
  <tr>
    <td>Matt Matero</td>
    <td>emailhere</td>
  </tr>
  <tr>
    <td></td>
    <td>Github</td>
  </tr>
	</table>
