<p>Results...</p>
<ul>
<% @cards = CardsController.query(params)%>
<% @cards.each do |card| %>
<li>Card Name: <%= card.name %></li>
<li>Card Set: <%= card.set %></li>
<li>Card Price: <%= card.price %></li>
<li>Card Color: <%= card.color %></li>
<br/> 
<% end %>
</ul>