<p>Results...</p>

<table class = "table table-striped">
	<th>Name</th>
	<th>Set</th>
	<th>Color</th>
	<th>Price</th>
	<% @cards = CardsController.query(params) %>
	<% @cards.each do |card| %>
	<tr>
		<td><%= card.name %></td>
		<td><%= card.set %></td>
		<td><%= card.color %></td>
		<td><%= card.price %></td>
	</tr>
	<% end %>
</table>